/* ALL  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* PAGE BACKGROUND  */
.pageBG {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PAGE FLOATING CONTAINER  */
.pageContainer {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  flex-direction: column;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  box-shadow: 0 0px 75px rgb(65, 65, 65);
}

/* PAGE HEADER HOME  */
.pageContainer .title {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-top: 10px;
}
.pageContainer .title h1 {
  text-align: right;
  margin-right: 30px;
  color: #fff;
  font-size: 44px;
}
.pageContainer .title h1:hover {
  color: darkorange;
  transition: 0.5s all ease-in-out;
}
.pageContainer .title select {
  width: 130px;
  height: 60px;
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

/* PAGE HEADER CREATE  */
.pageContainer .title-add {
  display: grid;
  grid-template-columns: 40% 60%;
  margin-top: 10px;
  align-items: center;
}
.pageContainer .title-add h1 {
  text-align: left;
  color: #fff;
  font-size: 44px;
  /* border: 2px solid black; */
}
.pageContainer .title-add h1:hover {
  color: darkorange;
  transition: 0.5s all ease-in-out;
}
.pageContainer .title-add button {
  /* border: 2px solid black; */
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.pageContainer .title-add button:hover {
  box-shadow: 0 0px 32px rgb(26, 183, 231);
  transition: 0.3s all ease-in-out;
}

/* PAGE HEADER UPDATE / DELETE  */
.pageContainer .title-update {
  display: grid;
  grid-template-columns: 20% 80%;
  margin-top: 10px;
  align-items: center;
}
.pageContainer .title-update h1:hover {
  color: darkorange;
  transition: 0.5s all ease-in-out;
}
.pageContainer .title-update h1 {
  text-align: left;
  color: #fff;
  font-size: 44px;
  /* border: 2px solid black; */
}
.pageContainer .title-update button {
  /* border: 2px solid black; */
  width: 60px;
  height: 60px;
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.pageContainer .title-update button:hover {
  box-shadow: 0 0px 32px rgb(26, 183, 231);
  transition: 0.3s all ease-in-out;
}

/* PAGE BODY HOME  */
.pageContainer .body {
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-top: 20px;
  /* border: 2px solid black; */
}
.search {
  display: flex;
  justify-content: center;
}
.search-label {
  color: #fff;
  font-size: 24px;
  margin-right: 10px;
}
.search-input {
  width: 150px;
  height: 30px;
  font-size: 15px;
}
.search-btn {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  border: 3px solid limegreen;
}
.search-btn:hover {
  box-shadow: 0 0px 32px rgb(9, 255, 0);
  transition: 0.5s all ease-in-out;
}
.reset-btn {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 20px;
  padding-right: 5px;
  padding-left: 5px;
  cursor: pointer;
  border: 3px solid red;
}
.reset-btn:hover {
  box-shadow: 0 0px 32px rgb(255, 0, 0);
  transition: 0.5s all ease-in-out;
}
.ul-list {
  list-style: none;
  display: list-item;
  float: left;
  height: 350px;
  overflow-y: auto;
  margin-top: 30px;
  /* border: 2px solid black; */
}
.ul-list li {
  border: 2px solid black;
  width: 450px;
  cursor: pointer;
  margin-bottom: 5px;
  font-size: 1.7em;
  text-align: center;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
}
.ul-list li:hover {
  box-shadow: 0 0px 32px rgb(255, 0, 0);
  transition: 0.3s all ease-in-out;
}
.ul-list li:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}
.ul-list li:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}
.ul-list li:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

/* PAGE BODY CREATE  */
.pageContainer .body-create {
  margin-top: 70px;
  font-size: 1.5em;
  /* border: 2px solid black; */
  color: #fff;
  text-align: left;
  display: flex;
  justify-content: center;
}
.pageContainer .body-create input {
  height: 50px;
  font-size: 0.9em;
  width: 300px;
}
.pageContainer .body-create select {
  height: 50px;
  font-size: 0.9em;
  width: 284px;
}

/* PAGE FOOTER HOME  */
.pageContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pageContainer .footer button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  border-radius: 50%;
  font-size: 60px;
  cursor: pointer;
}
.pageContainer .footer button:hover {
  box-shadow: 0 0px 32px rgb(51, 156, 175);
  transition: 0.3s all ease-in-out;
}

/* PAGE FOOTER CREATE  */
.pageContainer .footer-add {
  flex: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pageContainer .footer-add button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  border-radius: 50%;
  font-size: 60px;
  cursor: pointer;
}
.pageContainer .footer-add button:hover {
  box-shadow: 0 0px 32px rgb(0, 255, 34);
  transition: 0.3s all ease-in-out;
}

/* PAGE FOOTER UPDATE / DELETE  */
.pageContainer .footer-update {
  flex: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageContainer .footer-update button {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: none;
  background-color: rgb(0, 89, 255);
  color: white;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}
.pageContainer .footer-update button:hover {
  box-shadow: 0 0px 32px rgb(255, 0, 0);
  transition: 0.3s all ease-in-out;
}

/* MOBILE RESPONSIVE  */
@media (max-width: 768px) {
  .pageContainer {
    font-size: 10px;
    max-width: 80%;
    max-height: 50%;
    min-height: 550px;
  }
  .pageContainer .title {
    max-width: 80%;
    max-height: 50%;
  }

  .ul-list {
    max-width: 100%;
    max-height: 200px;
  }
  .ul-list li {
    max-width: 100%;
  }

  .pageContainer .body-create {
    width: 100%;
  }

  .pageContainer .body-create input {
    width: 65%;
  }
  .pageContainer .body-create select {
    width: 62%;
  }

  .pageContainer .title-update h1 {
    font-size: 35px;
  }
  .search-label {
    color: #fff;
    font-size: 15px;
    margin-right: 10px;
  }
  .search-input {
    width: 100px;
    height: 20px;
    font-size: 11px;
  }
  .search-btn {
    border-radius: 10px;
    margin-left: 10px;
    font-size: 13px;
    height: 20px;
    cursor: pointer;
    border: 3px solid limegreen;
  }
  .reset-btn {
    border-radius: 10px;
    margin-left: 10px;
    font-size: 13px;
    height: 20px;
    cursor: pointer;
    border: 3px solid red;
  }
}
